.status-bar {
	position: fixed;
	width: 100%;
	margin: 5px 10px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	top: 0;
}

.status-bar__column {
	width: 33%;
	align-items: center;
}

.status-bar__column:nth-child(2) {
	display: flex;
	justify-content: center;
}

.status-bar__column:last-child {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.status-bar__column:last-child div {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
}

.status-bar__column:first-child {
	display: flex;
}

.status-bar__column:first-child span {
	margin-right: 5px;
}

.fa-battery-full {
	font-size: 27px;
	margin: 0px 2px;
}

.fa-bolt {
	font-size: 15px;
}
